/* ESTILOS PARA ELEMENTOS EXTERNOS AL GRÁFICO */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
}

/* CONTENEDORA */
.chart-main {
    width: 100%;
    height: auto;
}
.chart-main .container {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    display: none;
}
.chart-main .container.active {
    display: block;
}
.container-data, .container-rrss, .container-iframe {
    width: 100%;
    overflow-y: auto;
}

/***** Bloque GRÁFICO *****/
.container-chart {
    max-width: 100%;
}
/* Bloque título */
.container-chart .bl-title {
    width: 100%;
    margin-bottom: 16px;
}

/* Bloque gráfico */
.container-chart .bl-chart {
    margin: 0px;
    margin-bottom: 8px;
    padding: 0px;
}
.bl-chart .chart-img {
    display: none;
}
/* Bloque de información + logos */
.container-chart .bl-info {
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.bl-info .bl-info-first .bl-notes {
    width: 100%;
}
.bl-info .bl-info-first .bl-notes p {
    font-size: 0.8rem;
}
.bl-info .bl-info-first .bl-notes p:last-child {
    margin-bottom: 0px !important;
}

/* Bloque de logos */
.container-chart .bl-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.container-chart .bl-logos .logo_enr {
    width: 51.5px;
    height: 53px;
    margin-right: 6px;
}
.container-chart .bl-logos .logo_csic {
    width: 136px;
    height: 32px;
    margin-left: 6px;
}

/* Bloque copyright */
.bl-copyright {
    width: 100%;
    font-size: 0.8rem !important;
    text-align: right;
    margin-bottom: 12px !important;
}

/***** Bloque DESCARGA *****/

/***** Bloque EMBEBER *****/

/***** Bloque RRSS *****/
.container-rrss .rrss {
    width: 50%;
    margin: 16px auto 0px auto;

    display: flex;
    justify-content: space-between;
}

.fa {
    box-sizing: border-box;
    padding: 12px;
    font-size: 20px;
    width: 44px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa--share {
    padding: 0px;
    font-size: 1.25em;
    width: 15px;
    height: 17px;

    cursor: auto;
    pointer-events: none;
}

.fa-repeat {
    padding: 2px;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-whatsapp {
    background-color: green;
    color: white;
}

/***** Bloque PESTAÑAS *****/
.chart-main .bl-tabs {
    width: 100%;
    height: 28px;
    display: block;
}
.bl-tabs .tabs {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: 0;
}
.bl-tabs .tabs .tab {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fcfcfc;
    color: #000;
}
.bl-tabs .tabs .tab:first-child {
    border-left: 1px solid #e1e1e1;
}
.bl-tabs .tabs .tab.tab-rrss {
    width: 36px !important;
    flex-shrink: 0;
}   
.bl-tabs .tabs .tab.active {
    background-color: #fff;
    color: #000;
    border-top: 0px;
    border-bottom: 2px solid #F8B05C;
}
.tab-text {
    pointer-events: none;
}

/**** Otros (enlaces, párrafos) ****/
.container a.link {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #F8B05C;
    color: #000;
    text-decoration: none;
}
.container h1 {
    font-size: 1.05em;
    font-weight: 700;
    line-height: 1.2;
    
    margin: 0px;
    padding: 0px;
}
.container h3 {
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.2;

    margin: 0px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 0px;
}
.container p {
    margin: 0;
    padding: 0;
    outline: 0;

    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 8px;
}
.btn-share {
    background-color: #fcfcfc;
    border: 2px solid #F8B05C;
    padding: 0px 8px;
    border-radius: 3px;

    cursor: pointer;
    
    font-size: 0.85rem;
}
.text-iframe {
    width: 98%;
    height: 120px;
}
.margin-bottom {
    margin-bottom: 16px !important;
}

@media screen and (max-width: 600px) {
    .container-rrss .rrss {
        width: 80%;
    }
}